<div class="mt-8 flex items-center justify-between">
  <div class="flex items-center gap-2">
    <p class="text-sm font-bold text-blue">Criadas</p>
    <div
      class="rounded-full bg-gray-400 px-2 py-0.5 text-xs font-bold text-gray-200"
    >
      0
    </div>
  </div>
  <div class="flex items-center gap-2">
    <p class="text-sm font-bold text-purple">Concluídas</p>
    <div
      class="rounded-full bg-gray-400 px-2 py-0.5 text-xs font-bold text-gray-200"
    >
      0
    </div>
  </div>
</div>
