<div class="-mt-7 flex items-center justify-between gap-1">
  <input
    type="text"
    class="h-14 w-full rounded-lg bg-gray-500 p-4 font-normal leading-snug text-gray-100 placeholder-gray-300 focus:ring-1 focus:ring-purple-dark"
    placeholder="Adicione uma nova tarefa"
  />
  <button
    class="flex h-14 w-14 items-center justify-center rounded-md bg-blue-dark hover:bg-blue"
  >
    <img src="/assets/icons/plus.svg" alt="Adicionar" />
  </button>
</div>
