<li class="inline-flex items-center rounded-lg bg-gray-500 p-4">
  <label class="mr-auto flex cursor-pointer items-center">
    <input type="checkbox" checked class="peer sr-only" />
    <div
      class="m-2 flex min-h-[16px] min-w-[16px] items-center justify-center rounded-full bg-gray-500 ring-2 ring-blue hover:bg-blue-dark hover:bg-opacity-20 hover:ring-blue-dark peer-checked:bg-purple-dark peer-checked:ring-purple-dark peer-checked:hover:bg-purple peer-checked:hover:ring-purple [&>img]:hidden peer-checked:[&>img]:block"
    >
      <img src="/assets/icons/check.svg" alt="Check icon" />
    </div>
    <span
      class="text-sm text-gray-100 peer-checked:text-gray-300 peer-checked:line-through"
    >
      Integer urna interdum massa libero auctor neque turpis turpis semper.
    </span>
  </label>
  <button
    class="group flex min-h-[32px] min-w-[32px] items-center justify-center rounded p-2 hover:bg-gray-400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      class="h-6 w-6 fill-gray-400 stroke-gray-300 group-hover:stroke-danger"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
      />
    </svg>
  </button>
</li>
