<body class="h-full min-h-screen bg-gray-600 px-6">
  <app-header></app-header>
  <app-form></app-form>
  <app-total-task-count></app-total-task-count>
  <ul class="mt-5 flex flex-col gap-2 py-5">
    <app-task-item></app-task-item>
    <app-task-item></app-task-item>
  </ul>
</body>
